/*ImpoertGoogle Font - Exo2 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Estilo de caja para todos los elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

/* Configuración del tamaño de fuente base para todo el documento */
html {
    font-size: 62.5%;
    /* 1rem = 10px */
}

body {
    background-image: url(/assets/images/fondo_cocina_L5.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Estilo para los enlaces */
a {
    text-decoration: none;
    /* Sin subrayado en enlaces */
    display: inline;
    /* Mostrar enlaces en línea */
    color: black;
    /* Color de texto negro para enlaces */
}

/* Estilo para el encabezado (header) */
.header {
    display: flex;
    max-width: 120rem;
    align-items: center;
    margin: 0 auto;
    padding: 0 2rem;
    height: 10.7rem;
    background: var(--white);
}

.header div,
.header nav {
    width: 100%;
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin: 0.5rem;
    height: 13rem;
    margin-right: 0.5rem;
}

.nav__menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100%;

}

.nav__menu a {
    font-size: 1.6rem;
    padding: 0 1.7rem;
    color: red;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* configuracion de slider */
.carousel__container {
   display: flex;
   width: 70rem;
   height: 30rem;
}

.carousel__container img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.carousel__container img:hover { 
    transform: scale(1.1);
    width: 50rem;
    opacity: 1;
    filter: contrast(120%)
}

.flyer__container {
    overflow: hidden; 
}

.flyer__mobile {
    max-width: 100%;
    height: auto;
}


  .button-arrow--red {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #ef233c
  }
  .button-arrow--red:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
  }
  .button-arrow--red:hover:after {
    opacity: 1;
    right: 10px;
  }
  .button-arrow--red:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
  }

.recetasvarias img {
    width: 55%;
    height: auto;
    object-fit: contain;
    border-radius: 2%;
    border-color: red;
    border-width: 3px;
    border-style: dotted;
    display: block;
    margin: 0 auto;
}

.recetario img {
    width: 100%;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 2%;
}

.container__recetario {
    width: 100%;
    margin: auto;
}

.recetario .container__recetario {
    display: grid;
}

.iframe__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.receta__api {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.nosotros {
    background-color: rgba(214, 210, 210, 0.712);
    height: 50%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    padding: 1rem;
}

.nosotros p {
    height: 50%;
    font-size: medium;
    align-items: center;
    justify-content: center;
}

.nosotros h1, a {
    grid-column: auto;
    font-size:large;
    margin-bottom: 10px;
}

/*Configuración del formulario de contacto*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 10px;
    padding: 10px;
    justify-content: center;
}

.grid-container h1 {
    align-items: center;
    color: crimson;
}

.grid-item {
    grid-column: auto;
    margin-bottom: 10px;
}

.grid-item label,
input,
textarea {
    width: 100%;
}

footer {
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

footer .header__icons__container {
    width: 100%;
    height: 10rem;
    display: grid;
    justify-content: center;
}

footer .header__icons__container .icons {
    width: 15rem;
    height: center;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    margin-right: 1.5rem;
}

footer .icons span {
    color: red;
}

.footer_copyright {
    font-size: 1rem;
    /* Tamaño de fuente pequeño */
    text-align: center;
    /* Centrar el texto horizontalmente en el footer */
    color: #666;
    /* Color de texto gris, puedes personalizar el color */
    margin: .5rem 0;
    /* Márgenes superior e inferior */
}

@media(min-width:520px) {
    .recetario .contenedor {
        grid-template-columns: repeat(2,50%);
    }
}  

@media(min-width:780px) {
    .recetario .container__recetario {
        grid-template-columns: repeat(3,33.3%);
    }
    .flyer__container {
        display: none;
    }
}
@media (max-width: 767px) {
    .carousel__container {
        display: none;
    }
    .flyer__mobile {
        width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    }
    .nav {
        display: none;
    }
}